<template>
  <div class="tables">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>From Date</label>
              <div class="form-group">
                <input class="form-control" type="date" v-model="modeltest.startDate">
              </div>
              <div class="form-group">
                <label>To Date</label>
                <div class="form-group">
                  <input class="form-control" type="date" v-model="modeltest.endDate">
                </div>
                <div class="form-group">
                    <label>Bill Number</label>
                    <input class="form-control" type="text" v-model="modeltest.bill_no">
                </div>
            </div>
            <div class="btn-filter">
                <button class="btn btn-submit">search</button>
            </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <!-- <b-table :items="items"  thead-class="blue-bg bg-dark text-white"></b-table> -->
          <b-table :current-page="currentPage"
          :fields="fields"
          :items="items"
          :per-page="perPage"
          :bordered="bordered"
          thead-class="blue-bg bg-dark text-white"
          >
        <template>
        <b-tr>
          <b-th variant="primary"></b-th>
        </b-tr>
        </template>
          </b-table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
import TestWebService from '../TestWebService.js'
import ModelTestWeb from '../components/ModelTestWeb.js'

export default {
  data() {
        return {
            fields : [
                {
                    key : "trans_date",
                    label : "Transaction Date"
                },
                {
                    key : "departemen",
                    label : "Departemen"
                },
                {
                    key : "waiter_name",
                    label : "Waiter Name"
                },
                {
                    key : "table_no",
                    label : "Table Number"
                },
                {
                    key : "bill_no",
                    label : "Bill Number"
                },
                {
                    key : "guest_name",
                    label : "Guest Name"
                },
                {
                    key : "pax",
                    label : "Pax"
                },
                {
                    key : "total_amount",
                    label : "Total Amount"
                }
            ],
            bordered : true,
            items : [],
            perPage : 10,
            currentPage: 1,
            modeltest : new ModelTestWeb()
        };
    },
    methods: {
        search() {
            let data = {
                request: {
                startDate : this.modeltest.startDate,
                endDate : this.modeltest.endDate,
                bill_no : this.modeltest.bill_no
                }
            }
            TestWebService.getDataTes(data)
            .then(response => {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
               
                
            //  this.items = []
            //   for (let i = 0; i < result.data.data.length; i++) {
            //       this.items.push({
            //           trans_date : result.data.data[i].trans_date,
            //           departemen : result.data.data[i].departemen,
            //           waiter_name : result.data.data[i].waiter_name,
            //           table_no : result.data.data[i].table_no,
            //           bill_no : result.data.data[i].bill_no,
            //           guest_name : result.data.data[i].guest_name,
            //           pax : result.data.data[i].pax,
            //           total_amount : result.data.data[i].total_amount
            //       }); 
            //     }
        }
    },
    mounted: function(){
        this.search();
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.blue-bg {
    background-color: blue;
}
</style>
