<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <TestWeb />
  </div>
</template>

<script>
import TestWeb from './components/TestWeb1.vue'

export default {
  name: 'App',
  components: {
    TestWeb,
  }
}
</script>

<style>
.tables {
    position: absolute;
    background-color: white;
    padding: 10px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 23px;
    padding-bottom: 46px;
    margin-top: 20px;
    margin-left: 50px;
}
.tables-data {
    position: absolute;
    background-color: white;
    padding: 10px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 23px;
    padding-bottom: 46px;
    margin-top: 20px;
    margin-left: 50px;
}
.btn-filter {
    position: absolute;
    padding-right: 24px;
    width: 100%;
 }
.btn-submit {
    width: 100%;
    background-color: blue;
    color: white;
    height: 35px;
    border-radius: 105px;
    font-size: 10px;
    font-family: InterBold;
    text-transform: uppercase;
    
  }
           
        
</style>
